<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <title>An Interview Scheduled</title>
    </head>
    <body>
        <h4>Hi, Your interview scheduled!</h4>

        <p><b>Job Title</b>:{{job_title}}</p>
        <p><b>Interview round</b>:{{interview_round}}</p>
        <p><b>schedule_date</b>:{{schedule_date}}</p>
        <p><b>start_time</b>:{{start_time}}</p>
        <p><b>end_time</b>:{{end_time}}</p>
        <p><b>interview_link</b>:{{interview_link}}</p>
    </body>
</html>