<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <title>Student Sign Up</title>
    </head>
    <body>
        <h4>Dear {{first_name}},</h4>
        <p>Welcome to Techademy! We noticed you've taken the first step and logged into our platform. That's fantastic!</p>
        <p>Your affiliation with {{institute_name}} has unlocked a plethora of learning resources tailored just for you. As you navigate, you'll find:</p>
        <p><b>Exclusive Courses:</b> Access to modules and programs chosen specifically in collaboration with {{institute_name}}.</p>
        <p><b>Dynamic Interactions:</b> Engage deeper with content, be it through webinars,challenging contests & hackathons or collaborative projects.</p>
        <p><b>Tailored Support:</b> Our support is specialised to cater to {{institute_name}} students. Whenever you need assistance, we're a click away.</p>

        <h4>Next Steps:</h4>
        <p><b>1. Personalise Your Experience:</b> Update your profile to help us recommend courses that align with your interests - <a href="{{link}}">click here</a></p>
        <p><b>2. Discover Institutional Highlights:</b> Explore the Courses section to find content curated especially for you.</p>
        <p><b>3. Connect & Collaborate:</b> Join institutional forums or discussion groups to learn with your peers.</p>
        <p>We're here to enhance your academic journey, ensuring that every moment spent on Techademy is productive, enlightening, and enjoyable.</p>

        <h4>Your Login Credentials:</h4>
        <p><b>Email:</b>{{email}}<p>
        <p><b>Password:</b>{{password}}<p>
        <p>Keep exploring, and happy learning!</p>
        <p>Best Wishes,</p>
        <p>Techademy Team</p>
    </body>
</html>
