<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <title>Webinar Registration</title>
    </head>
    <body>
        <h4>Dear {{username}},

            Thank you for registering for our upcoming webinar, "{{webinar_title}}." We're thrilled to have you join us for what promises to be an insightful and engaging session.
            
            Here are the details you'll need to access the webinar:
            
            Start Date: {{start_date}}
            End Date: {{end_date}}
            Webinar Link: {{webinar_link}}
            </h4>
    </body>
</html>